html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.cart:hover {
  background-color: white !important;
  border: 1px solid #fe9126 !important;
  .cart-icon {
    fill: #fe9126 !important;
  }
}
.cart-icon {
  fill: white !important;
}

nav {
  background-color: #fe9126;
  padding: 0.1px 12px;
  .nav-items {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    li {
      width: 100%;
      text-align: center;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
