html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.cart:hover {
  background-color: white !important;
  border: 2px solid #fe9126 !important;
  transition: all ease-in 0.1s;
  .cart-icon {
    fill: #fe9126 !important;
  }
}
.cart-icon {
  fill: white !important;
}

nav {
  background-color: #fe9126;
  padding: 2px 12px;
  .navbar-collapse {
    display: none;
    width: 100%;
    text-align: end;
    padding: 5px;
  }
  .hidden-nav {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    padding: 8px 32px;
    li {
      width: 100%;
      text-align: center;
      a {
        text-decoration: none;
        color: white;
        font-weight: 500;
        letter-spacing: 1.2px;
      }
    }
  }
  .nav-items {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;

    li {
      width: 100%;
      text-align: center;
      a {
        text-decoration: none;
        color: white;
        font-weight: 500;
        letter-spacing: 1.2px;
      }
    }
  }
}
.h1 {
  position: relative;
}
.h1::after {
  content: "";
  position: absolute;
  top: 130%;
  left: 43%;
  width: 150px;
  height: 2px;
  background-color: #3399cc;
}
button#fill-tab-example-tab-profile,
button#fill-tab-example-tab-home {
  margin: 0;
  padding: 0;
  height: 3.75rem;
  font-weight: 500;
  font-size: 1.125rem;
  letter-spacing: 1.5px;
  border-radius: 0;
}
.nav-link {
  font-weight: 700 !important;
  color: #3399cc !important;
}
.nav-link:hover,
.nav-link.active {
  color: white !important;
  background-color: #fe9126 !important;
}
.footer-link:hover {
  color: #fe9126 !important;
  transition: 0.5s ease-in;
}
@media (max-width: 768px) {
  nav {
    background-color: #fe9126;
    position: relative;
    .navbar-collapse {
      display: block;
    }
    .hidden-nav {
      visibility: hidden;
      opacity: 0;
      max-height: 0;
      list-style-type: none;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      padding: 0;
      gap: 1rem;
      background-color: #fe9126;
    }
    .nav-items {
      display: flex;
      list-style-type: none;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      padding: 0 24px;
      gap: 1rem;
      width: 100%;
      background-color: #fe9126;
      max-height: auto;
      transition: all 0.4s;

      li {
        width: 100%;
        text-align: start;

        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
